* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    background-color: #1F2937;
}

h1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: auto;
}

.nav {
    font-size: 18px;
    flex-grow: 1;
}
    
.nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-list a {
    text-decoration: none;
    color: #E5E7Eb;
}
    
.nav-list a:hover,
.nav-list a:focus {
    text-decoration: underline;
}
    
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 350px;
    background-color: #1F2937;
    border: 1px solid red;
}


.hero div {
    display: flex;
    flex: 2;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.hero div:nth-of-type(2){
    
}
.hero div:nth-of-type(3) {
    
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    
    
}

.hero-text h2,
.hero-text p,
.hero-text button{
    display: flex;
    align-self: start; 
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7Eb;
}

.hero-text button {
    border: none;
    border-radius: 5px;
    width: 10vh;
    height: 3vh;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    margin-top: 10px;
}

.box div{
    display: flex;
    width: 10px;
    height: 10px;
    border: 1px solid royalblue;
    flex: -2 0 50px;
}

img {
    width: auto;
    height: 25vh;
}