* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    background-color: #1F2937;
}

h1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: auto;
}

.nav {
    font-size: 18px;
    flex-grow: 1;
}
    
.nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-list a {
    text-decoration: none;
    color: #E5E7Eb;
}
    
.nav-list a:hover,
.nav-list a:focus {
    text-decoration: underline;
}
    
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border: 1px solid red;
}


.hero div {
    display: flex;
    flex: 1;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.hero-text {
    
}